div.stock-detail-container {
  gap: 15px;
  div.company-info {
    div.name-container {
      div.logo {
        width: 20px;
        height: 20px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid red;
        margin-right: 10px;
      }
      h1 {
        margin-right: 5px;
      }

      h2 {
        color: #a1a1a1;
      }
    }

    div.market-container {
      gap: 10px;
      p {
        color: #a1a1a1;
      }
    }
  }

  div.finance-info {
    gap: 10px;
    div {
      &.average-volume,
      &.week-high,
      &.week-low,
      &.today-high,
      &.today-low {
        border-radius: 8px;
        // background-color: #679beb;
        border: 1px solid #679beb;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        p {
          font-size: 16px;
        }

        span {
          font-size: 14px;
        }
      }

      &.today-high,
      &.today-low {
        width: 45%;
      }
    }
  }

  div.performance-info {
    gap: 5px;
    div.performance-item {
      border-radius: 8px;
      border: 1px solid #538fe8;
      padding: 5px;
      div.title-container {
        gap: 5px;
        p.title {
          font-size: 18px;
        }
        p.period {
          color: #a1a1a1;
        }
      }

      p {
        font-size: 14px;
      }
    }
  }
}
