div.main-wrap {
  div.header-container {
    background-color: #202020;
    div.swiper-slide {
      &:not(:last-child) {
        border-right: 0.5px solid #444;
      }
    }
  }

  div.chart-wrap {
    div.stock-container {
      height: 100%;
      width: calc(100% - 1040px);
      border-left: 1px solid #a1a1a1;
    }
  }
}
